header{
    height: 100;
    background-color: black;
    border-bottom: rgb(246, 124, 144);
}
footer{
    height:100;
    background-color: blueviolet;
    border-bottom: white;
}
.header{
    color: black;
}
input{
    background-color: aquamarine;
}